
<div class="main top-main">
  <div class="top-message">
    <h4>お気に入りの写真を友だちとシェアしよう！</h4>
    <h1>Emotion Pictures</h1>
    <img class="/emeraldgreen.jpg" src="">
    <h5>Share photos that move your emotions!</h5>
  </div>
</div>
